<div *ngIf="hero">
  <h2>Details of {{hero.name | uppercase}}</h2>
  <div><span>id:</span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
</div>